/*
* @Author: joeta
* @Date:   2018-01-29 14:45:39
* @Last Modified by:   joeta
* @Last Modified time: 2018-02-27 17:13:01
*/


.eventer_form_control{
	margin: 5px 0px 10px 0px;
	width: inherit;
}
.areaonly
{
	width:100%;
	max-width: 100%;
	max-height: 20vh;
	height: 20vh;
}

.eventerimage{
	max-width: 125px;
	max-height: 125px;
	width: 100%;
	overflow: hidden;
}

.eventername > a{
	text-decoration: none !important;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_4_of_3 { width: 70%; }
.span_1_of_3 { 
	max-width: 24%; 
	width: 150px;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
 	.span_1_of_3, .span_4_of_3 { width: 100%; }
}


/* Bootstrap */

